@inherits BlazorAbstractComponentBase

<a @attributes="@AdditionalAttributes">@ChildContent</a>


@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter][CssClass("disabled")]public bool Disabled{ get; set; }

    [Parameter][HtmlEvent("onclick")]public EventCallback<MouseEventArgs> Click{ get; set; }
}