@page "/"

<PageTitle>Home</PageTitle>

<Button class="btn btn-primary" AdditionalStyle="@(new (){
                                ["margin"]="10px",
                                ["padding"]="20px"
                            })">
    Button
</Button>