@page "/counter"


<Anchor Link="counter">Link</Anchor>

<Anchor Link="component/counter" Match="NavLinkMatch.Prefix">Prefix</Anchor>

<Button Color="Color.Warning|Color.Danger|Color.Dark">Hello</Button>