@page "/counter"


@*<Anchor Link="counter">Link</Anchor>

<Anchor Link="component/counter" Match="NavLinkMatch.Prefix">Prefix</Anchor>

<Button OnClick="@(e=>JS.InvokeVoidAsync("alert","按钮被点击"))">点击我</Button>

@inject IJSRuntime JS*@