@page "/"

<AnimationButton>Animation</AnimationButton>
@*
<Button Color="Color.Primary">Primary</Button>
<Button Color="Color.Danger" Disabled>Danger</Button>


<Button Color="Color.Primary" @onclick="Alert">Propmt</Button>

@inject IJSRuntime Js

@code {

    public async Task Alert()
    {
        dynamic _jsModule = await Js.Import("./demo.js");
        _jsModule.show("hello");
    }
}*@

<Badge AdditionalCssClass="btn btn-primary" Disabled>Hello</Badge>