@page "/table"


<Table>
    <TableRow>
        <TableCell>1</TableCell>
        <TableCell>2</TableCell>
        <TableCell>3</TableCell>
    </TableRow>
    <TableRow>
        <TableCell>1</TableCell>
        <TableCell>2</TableCell>
        <TableCell>3</TableCell>
    </TableRow>
</Table>
